body{
    background-color:#292929;
    color:#d3d3d3;
    font-family:"Monaco";
}
header{
    background-color:#427AA1;
    color:#5BC0EB;
    text-align:center;
}
header h1{
    line-height:200%;
}
nav{
    font-size:75%;
    text-align:left;
}
a{
    text-decoration: none;
    color: white;
}
nav ul{
    list-style-type: none;
}
